/* ScrollingStrip.css */
.strip-container {
  width: 100%;
  overflow: hidden;
  background-color: #d7ebf9;
  padding: 10px 0;
  position: relative;
}

.strip-content {
  display: flex;
  white-space: nowrap;
  animation: scroll-loop 20s linear infinite;
}

.strip-content span {
  display: inline-block;
  margin: 0 50px;
  cursor: pointer;
  font-weight: 500;
  color: #147e3e;
  transition: color 0.3s ease;
}

.strip-content span:hover {
  color: #0056b3;
  text-decoration: underline;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
